:root {

  // Global HTML variables

  --safe-area: var(--s4);

  --sp:calc(var(--s) / 5);

  // Colors

  --color-text: var(--color-primary);
  --color-text-rgb: var(--color-primary-rgb);
  --color-text-contrast: var(--color-primary-contrast);
  --color-text-contrast-rgb: var(--color-primary-contrast-rgb);
  --color-light: var(--color-primary-contrast);
  --color-light-rgb: var(--color-primary-contrast-rgb);

  //FEEDBACK ERROR
  --color-error-contrast: #d51010;

  // Fonts
  --font-primary: "Source Sans Pro", sans-serif;

  // FONT SIZES

  --fs-sm-v: 14;
  --fs-sm: #{rem-css-vars(--fs-sm-v)};
  --lh-sm: 1.28;
  --fs-base-v: 16;
  --fs-base: #{rem-css-vars(--fs-base-v)};
  --lh-base: 1.25;
  --fs-md-v: 20;
  --fs-md: #{rem-css-vars(--fs-md-v)};
  --lh-md: 1.25;
  --fs-lg-v: 30;
  --fs-lg: #{rem-css-vars(--fs-lg-v)};
  --lh-lg: 1.26;
  --fs-xl-v: 38;
  --fs-xl: #{rem-css-vars(--fs-xl-v)};
  --lh-xl: 1.15;

  //IONIC VARIABLES
  --ion-color-primary: #000000;
  --ion-color-primary-rgb: 0, 0, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #000000;
  --ion-color-primary-tint: #1a1a1a;

  --ion-color-secondary: #ffc700;
  --ion-color-secondary-rgb: 255, 199, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0af00;
  --ion-color-secondary-tint: #ffcd1a;


  //SPECIFIC ELEMENTS
  --form-field-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  --form-field-error-box-shadow: 0px 1px 3px 0px rgba(181, 72, 72, 0.25);
  --footer-mt: calc(var(--s) * 16);
  --form-field-separation: var(--s4);
  --form-field-max-width: calc(var(--s) * 80);
  --site-header-height: calc(var(--s) * 12);
  --site-footer-height: calc(var(--s) * 27);
  --page-top-space: var(--s2);
  --page-bottom-space: calc(var(--s) * 16);
  --toolbar-warning-color: #FF6565;
  
  --page-min-height: calc(100vh - var(--site-header-height));
  --input-min-height: var(--s10);
  --page-min-height-show-footer: calc(100vh - var(--site-header-height) - var(--site-footer-height));

  --transition-default: 0.3s ease-out;

}
